/*pause btn icon*/
.ui-icon-pause {
    background-image: url("images/pause.png");
}
/*home btn icon (jQuery owns "home")*/
.ui-icon-homez {
	background-image: url("images/home.png");
}

/*play btn icon*/
.ui-icon-play {
	background-image: url("images/playB.png");
}

.homeBut {
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

#game {
    margin-top: 2%;
}

/*title size*/
h1{
	font-size: 24px;
}

#frame {
    text-align: center;
    padding-left: 0px;
}

.cell {
    display: inline-block;
    background-image: url("images/tile.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-color: #A7A7A7;
    border-width: 1px;
    border-style: solid;
}

/*tile selected background color*/
.selected {
    background-image: url("images/g.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*tile selected background color*/
.wrong {
    background-image: url("images/r.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*tile selected background color*/
.path {
    background-image: url("images/y.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.header {
    background-image: url("images/footer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20%;
    position: fixed;
    top: 0px;
}

/*footer*/
.footer {
    background-image: url("images/footer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 25px;
}



/*ul and li determine grid*/
ul {
    min-width: 100%;
}

li {
    display: inline;
}

h3 {
    text-align: center;
}

.xp {
	font-size: 12px;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #1cf5ff,
           0 0 20px #1cf5ff, 0 0 30px #1cf5ff,
           0 0 40px #1cf5ff;
}

.lives {
   color: #7C7C7C;
   text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000000;
}

.coins {
	font-size: 12px;
    color: #ffff0b;
    text-shadow: 0 0 5px #e89f16, 0 0 10px #f59146,
           0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
           0 0 40px #ffff0b;
}



#game-page {
    background: #A5F1FF;
}

#store-page {
    background: #A5F1FF;
}

#hint{
    background-image: url("images/hint.png");
    background-repeat: no-repeat;
    background-position: 97%;
    text-align: left;
}

#repeat{
    background-image: url("images/repeat.png");
    background-repeat: no-repeat;
    background-position: 97%;
    text-align: left;
}

#slowmo{
    background-image: url("images/slowmo.png");
    background-repeat: no-repeat;
    background-position: 97%;
    text-align: left;
}

#stop{
    background-image: url("images/stop.png");
    background-repeat: no-repeat;
    background-position: 97%;
    text-align: left;
}

#skip{
    background-image: url("images/skip.png");
    background-repeat: no-repeat;
    background-position: 97%;
    text-align: left;
}

#extraLife{
    background-image: url("images/extraLife.png");
    background-repeat: no-repeat;
    background-position: 97%;
    text-align: left;
}

#dubCash{
    background-image: url("images/dubCash.png");
    background-repeat: no-repeat;
    background-position: 97%;
    text-align: left;
}

#dubXP{
    background-image: url("images/dubXP.png");
    background-repeat: no-repeat;
    background-position: 97%;
    text-align: left;
}

#dubBoth{
    background-image: url("images/dubBoth.png");
    background-repeat: no-repeat;
    background-position: 97%;
    text-align: left;
}

#randSkill{
    background-image: url("images/randSkill.png");
    background-repeat: no-repeat;
    background-position: 97%;
    text-align: left;
}

#allIn{
    background-image: url("images/allIn.png");
    background-repeat: no-repeat;
    background-position: 97%;
    text-align: left;
}

#r1{
    background-image: url("images/storeButtons/default.png");
    background-repeat: no-repeat;
    background-position: 97%;
    text-align: left;
}

#r2{
    background-image: url("images/storeButtons/peach.png");
    background-repeat: no-repeat;
    background-position: 97%;
    text-align: left;
}

#r3{
    background-image: url("images/storeButtons/mustard.png");
    background-repeat: no-repeat;
    background-position: 97%;
    text-align: left;
}

#r4{
    background-image: url("images/storeButtons/food.png");
    background-repeat: no-repeat;
    background-position: 97%;
    text-align: left;
}

#r5{
    background-image: url("images/storeButtons/matrix.png");
    background-repeat: no-repeat;
    background-position: 97%;
    text-align: left;
}

#r6{
    background-image: url("images/storeButtons/rainbow.png");
    background-repeat: no-repeat;
    background-position: 97%;
    text-align: left;
}

#r7{
    background-image: url("images/storeButtons/fire.png");
    background-repeat: no-repeat;
    background-position: 97%;
    text-align: left;
}

#r8{
    background-image: url("images/storeButtons/cat.png");
    background-repeat: no-repeat;
    background-position: 97%;
    text-align: left;
}

#main-page, #setting-page {
    background-image: url("images/des.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-sign {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    display: block
}
.play-sign {
    width: 320px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block
}

.mute-sign {
    width: 44px;
    height: 44px;
    position: fixed;
    top: 0px;
    margin-left: 86%;
}

.mute-sign-ldr {
    width: 44px;
    height: 44px;
    position: fixed;
}

.sound-sign {
    width: 44px;
    height: 44px;
    position: fixed;
    top: 0px;
    margin-left: 0px;
}

.progress {
    margin-top: 0px;
}

.progress-bar{
    color: #655b5b;
    text-shadow: none;
}

#name, #submitInstr, #backInstr {
    margin-top: 40%;
}


#levelNum{
	font-size: 64px;
	color: blue;
}

/*count down*/
.cd {
    font-size: 72px;
}

#cd3 {
    color: red;
}

#cd2 {
    color: yellow;
}

#cd1 {
    color: green;
}

#instTbl {
    margin-left: auto;
    margin-right: auto;
}
#instruct {
    padding-top: 2%;
    margin-top: 12%;
}